# Database
DB_CONNECTION_STRING=Host=your-host;Database=postgres;Username=postgres;Password=your-password;SSL Mode=Require;Trust Server Certificate=true

# Domain (cho Nginx)
DOMAIN=api.seachess.com

# JWT Secret Key
JWT_SECRET_KEY=your-super-secret-key-at-least-64-characters-long