# Database
DB_CONNECTION_STRING=Host=aws-1-ap-northeast-1.pooler.supabase.com;Database=postgres;Username=postgres.nijkmvwqdbxxoukfposp;Password=[YOUR-PASSWORD];SSL Mode=Require;Trust Server Certificate=true

# Domain (cho Nginx)
DOMAIN=api.seachess.com

# JWT Secret Key
JWT_SECRET_KEY=your-super-secret-key-at-least-64-characters-long